/*
=================================================
;  Title: Keith-sequence-game.css
;  Author: Alexander Keith
;  Date: 4/15/2023
;  Description: Keith-sequence-game.css file for assignment 5.2 - Sequence Game
;================================================
*/

/* Provides card padding and margin */
.card{
    margin:auto;
    text-align: center;
}

/* styling for conversion results */
#results{
    font-size: 30px;
    text-align: center;
}
